# =========================
# Build outputs
# =========================
bin/
obj/

# =========================
# Rider / JetBrains
# =========================
.idea/
**/.idea/

# =========================
# Visual Studio
# =========================
.vs/
*.user
*.suo

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Secrets / config local
# =========================
appsettings.Development.json